.news-article {
  padding-left: 10px;
  padding-bottom: 50px;
  padding-top: 20px;

  border-bottom-color: #A0A0A0;
  border-bottom-width: 1px;
  border-bottom-style: solid;

  text-decoration: none;

  display: block;
  width: 100%;
}

.news-article-title {
  text-decoration: none;

  font-size: 20px;
  font-weight: bold;
  color: black;

  display: inline;
}

.news-article-date {
  text-decoration: none;

  font-size: 16px;
  color: black;

  display: inline;

  float: right;
  padding-right: 40px;
}

.news-article-author {
  text-decoration: none;

  font-size: 16px;
  color: darkblue;

  float: left;
  display: block;

  padding-left: 20px;
  padding-bottom: 20px;
}
